<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Архив сообщений</title>
</head>
<body>
{% for message in messages %}
<div>
    <span>Дата: <i>{{ message.date.strftime("%d-%m-%Y %H:%M:%S") }}</i></span>
    <p>
        {{ message.message }}
    </p>
</div>
<br />
<hr />
{% endfor %}
</body>
</html>