<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
    <title>Insert message</title>
</head>
<body>
<div id="editor"></div>

<br />
<button id="send">Send message</button>
</body>
<script>
    let editor
    ClassicEditor
        .create( document.querySelector( '#editor' ),
            {
                htmlSupport: {
                    allow: [
                        {
                            name: /.*/,
                            attributes: true,
                            classes: true,
                            styles: true
                        }
                    ]
                }
            },
        )
        .then( newEditor => {
            editor = newEditor;
        } )
        .catch( error => {
            console.error( error );
        } );

$( document ).ready(function() {
    console.log( "ready!" );
    $("#send").on("click", () => {
        var content = editor.getData();
        $.post(
            "/save_inserted_message", {message: content}
        ).done(
            response => {
                if( response.status ) {
                    window.location.href = "{{ url_for('add_message_page') }}"
                    return true
                }
                else {
                    window.location.href = "{{ url_for('error') }}"
                    return false
                }
            }
        )
    })

});
</script>

</html>